:root {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 710px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--DarkGrayishBlue);
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: var(--GrayishBlue);
}

.description {
  line-height: 1.5;
}

a {
  color: var(--DarkGrayishBlue);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-decoration: none;
}

a:hover {
  color: var(--StrongCyan);
}

.buttons {
  margin-top: 2.5rem;
}

.btn-cta {
  --bg-clr: transparent;
  --shdw-clr: transparent;
  background-color: var(--bg-clr);
  color: #fff;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.75rem 1.75rem;
  display: inline-block;
  font-weight: 600;
  -webkit-box-shadow: 0 3px 0px var(--shdw-clr);
          box-shadow: 0 3px 0px var(--shdw-clr);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.btn-cta.ios {
  --bg-clr: var(--StrongCyan);
  --shdw-clr: hsl(171, 66%, 40%);
  margin-right: 0.75rem;
}

.btn-cta.mac {
  --bg-clr: var(--LightBlue);
  --shdw-clr: hsl(233, 100%, 65%);
}

.btn-cta:hover {
  color: #fff;
  opacity: 0.8;
}

@media (max-width: 810px) {
  .container {
    max-width: 600px;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 625px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 500px) {
  .btn-cta {
    display: block;
  }
  .btn-cta.ios {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.header {
  padding: 7rem 0;
  background: url(../images/bg-header-desktop.png) top center no-repeat;
  margin-bottom: 2rem;
}

.header .logo {
  width: 130px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.header .description {
  font-size: 1.15rem;
}

.sub-header {
  margin-bottom: 4.5rem;
}

@media (max-width: 810px) {
  .header {
    padding: 5rem 0;
  }
  .header .description {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .header {
    background: url(../images/bg-header-mobile.png) top center no-repeat;
    background-size: cover;
  }
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.main-img, .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main img {
  width: 100%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.main .content {
  max-width: 350px;
  margin-left: 4vw;
  margin-bottom: 1.8rem;
}

.main .content h3 {
  margin-bottom: 0.5rem;
}

.main .content p {
  line-height: 2;
  font-size: 0.9rem;
}

@media (max-width: 1100px) {
  .main {
    display: block;
    width: 90%;
    max-width: 810px;
    text-align: center;
  }
  .main img {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-bottom: 3rem;
  }
  .main .content {
    margin: 0 auto 2rem;
  }
}

.middle {
  width: 90%;
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.middle img {
  display: block;
  margin-top: 4rem;
  width: 100%;
}

.workflow {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.workflow .container {
  width: 100%;
  margin-bottom: 4rem;
}

.flow-container,
.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow-container .flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow-container .flow img {
  margin-bottom: 2rem;
  width: 45px;
}

.flow-container .flow .content {
  text-align: center;
  max-width: 350px;
}

.flow-container .flow:not(:last-child) {
  margin-right: 1rem;
}

.logos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

.logos img {
  cursor: pointer;
}

@media (max-width: 920px) {
  .flow-container,
  .logos {
    display: block;
  }
  .flow-container .flow:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .logos img {
    display: block;
    margin: 0 auto;
  }
  .logos img:not(:last-child) {
    margin-bottom: 3rem;
  }
}

footer {
  margin-top: 4rem;
  background-color: #f4f4f4;
  padding: 2rem 0;
}

footer .container {
  max-width: 1120px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links .logo {
  width: 60px;
  margin-right: 4rem;
  cursor: pointer;
}

footer .links .links-1 a,
footer .links .links-2 a {
  margin-right: 2.5rem;
  display: block;
}

footer .links .links-1 a:first-child,
footer .links .links-2 a:first-child {
  margin-bottom: 1rem;
}

footer .links .links-3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

footer .icons a:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 810px) {
  footer .container {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .links {
    width: 100%;
  }
  footer .icons {
    margin-top: 2rem;
  }
}

@media (max-width: 625px) {
  footer .container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .links {
    width: 100%;
    display: block;
  }
  footer .links .logo {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  footer .links .links-1,
  footer .links .links-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  footer .links .links-1 a,
  footer .links .links-2 a {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */