*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 710px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--DarkGrayishBlue);
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  color: var(--GrayishBlue);
}
.description {
  line-height: 1.5;
}

a {
  color: var(--DarkGrayishBlue);
  transition: 200ms ease-in-out;
  text-decoration: none;

  &:hover {
    color: var(--StrongCyan);
  }
}

.buttons {
  margin-top: 2.5rem;
}
.btn-cta {
  --bg-clr: transparent;
  --shdw-clr: transparent;
  background-color: var(--bg-clr);
  color: #fff;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.75rem 1.75rem;
  display: inline-block;
  font-weight: 600;
  box-shadow: 0 3px 0px var(--shdw-clr);
  transition: 200ms ease-in-out;

  &.ios {
    --bg-clr: var(--StrongCyan);
    --shdw-clr: hsl(171, 66%, 40%);
    margin-right: 0.75rem;
  }
  &.mac {
    --bg-clr: var(--LightBlue);
    --shdw-clr: hsl(233, 100%, 65%);
  }

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

@media (max-width: 810px) {
  .container {
    max-width: 600px;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 625px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 500px) {
  .btn-cta {
    display: block;

    &.ios {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
